<section id="about">
	<div class="container">
		<h2>About</h2>
            <img alt="Logo PowerShell Usergroup Southern Germany" class="img-responsive" src="/img/powershellug.png" align="center">
            <br>
            <p>The PowerShell Usergroup Southern Germany is proud to present an event never seen before in Germany:<p>
            <br>
            <h3>PowerShell Monday Munich 2016</h3>
            <br>
            <p>
            Think of this day as your user group... if a single meeting of your user group had Rob Sewell, Jeff Wouters, Ed Wilson and several others, all within walking distance of the Theresien-Wiese, home of Oktoberfest.
            <br>
            <br>
            Expect an action-packed afternoon and evening  where knowledge meets pizza, questions meet great speakers and PowerShell folks meet each other.
            <br>
            <br><h4>The Best: PowerShell Monday is completely free for attendees!</h4>
            <bR>To make it easy for you to attend, our partners <a href="http://www.orange-networks.de"> Orange Networks </a> and <a href = "http://www.acentrix.de">acentrix</a> are providing a location in walking distance from Central Station Munich. You will be served with drinks and snacks to be fit during the whole event.
            <br>
            <br>
            We´re looking forward to see you in Munich on August 22nd!
            </p>
    
        </p>
	</div>
</section>
