<section id="about">
	<div class="container">
		<h2>About</h2>
        <p>Welcome to the next great European PowerShell event - PowerShell Monday Munich 2016!</p>

        <p>Think of this day as your user group... if a single meeting of your user group had Rob Sewell, Jeff Wouters, Ed Wilson and several others, all within walking distance of the Theresien-Wiese, home of Oktoberfest.

            An action-packed afternoon and evening of PowerShell goodness - and it's FREE!
        </p>
	</div>
</section>
