<section id="venue">
	<div class="container">
        <h2>Venue</h2>
        <p>Thanks to our sponsors' generosity, PowerShell Monday will take place at <a href="http://acentrix.de">acentrix</a>'s offices in downtown Munich.</p>
        <p>If you like walking, it's close enough to the main train station (München Hbf) to walk. If you don't like walking, or the weather is bad, S-Bahn station Donnersbergerbrücke is very close.</p>
        <p>We're looking for parking garages near this.</p>
        <br>
       <!-- taking away picture <div class="photogrid" data-layout="232">
            <img src="{{ "/img/Oktoberfest1.jpg" | prepend: site.baseurl }}" alt="Michael.chlistalla, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=322115">
        </div> -->
    </div>
</section>