<section id="venue">
	<div class="container">
        <h2>Venue</h2>
        <p>The conference takes place in the <a href="http://www.hcc.de/" target="_blank">Hannover Conference Centrum (HCC)</a>.</p>
        <p>If you like walking, it's close enough to the main train station (München Hbf) to walk. If you don't like walking, or the weather is bad, take subway line U?? to the Haltestelle Station.</p>
        <p>If you're crazy and drove, here's where you can park: Parkhaus </p>
        <br>
        <div class="photogrid" data-layout="232">
            <img src="{{ "/img/hotel-galerie-02.jpg" | prepend: site.baseurl }}" alt="Conference Center outside view">
        </div>
    </div>
</section>