<section id="venue">
	<div class="container">
        <h2>Venue</h2>
        <h2>ATTENTION: NEW LOCATION</h2>
        <p>Thanks to our sponsors' generosity, PowerShell Monday will take place at <a href="http://acentrix.de">acentrix</a>'s offices in Schwabing (north Munich).</p>
        <p>If you like walking, take the U2 towards Feldmoching, exit at the Frankfurter Ring stop and walk 1 km to acentrix's offices. If you don't like walking, you can then catch the 177 bus to Ingolstädter Str.</p>
        <p>Parking is tight in this neighborhood, so try to take transit if possible. There is a lot of parking at the Feldmoching U-Bahn station.</p>
        <p>The address is: 
           acentrix GmbH
           Ingolstädter Str. 20
           80807 München</p>
        <br>
       <!-- taking away picture <div class="photogrid" data-layout="232">
            <img src="{{ "/img/Oktoberfest1.jpg" | prepend: site.baseurl }}" alt="Michael.chlistalla, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=322115">
        </div> -->
    </div>
</section>
