<section id="speakers">
	<div class="container">
        <h2>Speakers</h2>
        <div class="row">
            {% for speaker in site.data.speakers.speakers %}
            <div class="col-md-{{ site.data.speakers.col_md }} col-sm-{{ site.data.speakers.col_sm }} col-xs-{{ site.data.speakers.col_xs }}">
               <!-- Uncentering <center> -->

                <a href="{{ speaker.blogurl }}">
                    <img alt="logo" class="img-responsive" src="{{ speaker.img | prepend: site.baseurl }}">
                </a> <h3>{{ speaker.name }}</h3><br><br>
                {{ speaker.bio }} <br>
                {{ speaker.name }} can be found on twitter as <a href="{{ speaker.twitterurl }}">{{ speaker.twittername }} </a>

                <br>
                <br>

              <!--  </center> -->
            </div>
            {% endfor %}
        <!-- <div id="speakers-gallery"></div> -->
    </div>
</section>